body {
    background-color: #212123;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
}

.menu {
    color: white;
    font-family: sans-serif;
    left: 0vw;
    position: fixed;
    top: 2rem;
    z-index: 1;
}

.menu a {
    background-color: black;
    color: white;
    padding: 0.8rem;
    text-decoration: none;
    vertical-align: middle;
}

.menu a:hover {
    text-decoration: underline;
}

.square {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: zoom;
    animation-timing-function: linear;
    height: max(100vw, 100vh);
    left: 50vw;
    margin-left: min(-50vw, -50vh);
    margin-top: min(-50vw, -50vh);
    position: fixed;
    top: 50vh;
    width: max(100vw, 100vh);
}

@keyframes zoom {
    from {
        box-shadow: inset 0 0 0 0 teal;
    }
    to {
        /* box-shadow: inset 0 0 0 calc(100vw / 2) teal; */
        /* ^ works on chrome */
        /* v works on firefox but animation doesn't move on chrome */
        box-shadow: inset 0 0 0 calc(max(100vw, 100vh) / 2) teal;
    }
}