body {
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
}

.square {
    animation: bounce 3s linear infinite;
    box-shadow: inset 0 0 0 0.5rem lime;
    height: 3rem;
    width: 3rem;
}

@keyframes bounce {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(100vw) translateY(100vh);
    }
}