body {
    background-color: gray;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
}

.menu {
    background-color: black;
    color: white;
    font-family: sans-serif;
    left: 0vw;
    min-height: 2rem;
    padding-top: 0.75rem;
    position: fixed;
    top: 1vh;
    z-index: 1;
}

.menu a {
    color: white;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-decoration: none;
    vertical-align: middle;
}

.menu a:hover {
    text-decoration: underline;
}

.square {
    animation: bounce 6s linear infinite;
    box-shadow: inset 0 0 0 0.5rem lime;
    height: 3rem;
    width: 3rem;
}

@keyframes bounce {
    from {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(100vw) translateY(100vh);
    }

    to {
        transform: translateX(0) translateY(0);
    }
}