body {
    background-color: #212123;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
}

.menu {
    color: white;
    font-family: sans-serif;
    left: 0vw;
    position: fixed;
    top: 2rem;
    z-index: 1;
}

.menu a {
    background-color: black;
    color: white;
    padding: 0.8rem;
    text-decoration: none;
    vertical-align: middle;
}

.menu a:hover {
    text-decoration: underline;
}

.square {
    height: 3rem;
    position: fixed;
    width: 3rem;
}